.dot {
    position: absolute;
    border: solid 1px rgb(var(--cursor-dot-rgb));
    transition-timing-function: linear;
    transition-duration: 200ms
}

.normal-dot {
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
}

.small-dot {
    width: 20px; 
    height: 20px; 
    border-radius: 50%;
}