.dot {
    position: absolute;
    transition-timing-function: linear;
    transition-duration: 200ms;
    z-index: 10;
    border-radius: 50%;
}

.normal-dot {
    width: 20px; 
    height: 20px; 
    background:  rgb(255, 132, 0)
}

.small-dot {
    width: 20px; 
    height: 20px; 
}

.large-dot {
    width: 30vw; 
    height: 30vw;
    background: radial-gradient(rgba(255, 217, 61), rgb(255,189,51));
    box-shadow: 0 0 60px 100px rgba(255, 217, 61, 0.5), 0 0 100px 200px rgba(255, 217, 61, 0.4), 0 0 140px 300px rgba(255, 217, 61, 0.3), 0 0 200px 500px rgba(255, 217, 61, 0.2);
    animation: turn 3s ease-out 0s infinite;
    background-size: 200% 200%;
}

.text-shadow {
    text-shadow: 2px 2px 2px;
}

@keyframes turn {
    0%, 100% {
      background-position: 20% 70%;
    }
    50% {
      background-position: 80% 70%;
    }
}